
.label-appended {
	float: left;
	margin-left: 1em;
}

#arena_say_box a {
	margin-left: 1em;
}

#stats_log {
	width: 90%;
	overflow-x: hidden;
	white-space: nowrap;
	margin: auto;
}

#stats_log li {
	display: inline;
	list-item-style: none;
	margin-left: 0.5em;
}

#stats_log .prana   { color: #199bdc; }
#stats_log .exp     { color: #f9b436; }
#stats_log .task    { color: pink; }
#stats_log .level   { color: red; font-weight: bold; }
#stats_log .inv     { color: sienna; }
#stats_log .heal    { color: green; }
#stats_log .gold    { color: orangered; }
#stats_log .monster { color: darkmagenta; }
#stats_log .death   { color: red; }
#stats_log .brick   { color: mediumblue; }


#timeout_bar {
	height: 3px;
	width: 0px;
	display: block;
	position: fixed;
	z-index: 2;
	opacity: 0.5;
	top: 0px;
	left: 0px;
	background: blue;
}

#ui_menu_bar {
	font-size: 90%;
	text-align: center;
}

#ui_menu_bar li {
	display: inline;
	padding: 0 0.3em;
}
#ui_menu_bar ul {
	list-style: none outside none;
	margin: -0.7em 0 0.7em 0;
	padding: 0;
}
#ui_menu_bar a {
	text-decoration: none;
}

#reformal {
	color: magenta;
}

#informer_bar {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#informer_bar div {
	float: right;
	margin: 0.2em 1em;
	padding: 0.1em 0.5em;
	background: Beige;
	border: 1px solid orange;
	cursor: pointer;
}