
.label-appended {
	float: left;
	margin-left: 1em;
}

#arena_say_box a {
	margin-left: 1em;
}

#stats_log {
	background: yellow;
}

#stats_log li {
	display: inline;
	list-item-style: none;
	margin-left: 1em;
}